.update-password-container {
  display: grid;
  min-height: calc(100vh - 3.5rem);
  place-items: center;
}

.loading-container {
  display: flex;
  min-height: calc(100vh - 3.5rem);
  align-items: center;
  justify-content: center;
}

.form-container2{
  max-width: 500px;
  padding: 16px;
  background: transparent;
  border-radius: 8px;
}

.form-title {
  font-size: 1.875rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 16px;
}

.form-description {
  font-size: 1.125rem;
  color: #b3b3b3;
  margin-bottom: 24px;
}

.form-label {
  display: block;
  margin-bottom: 16px;
  position: relative;
}

.required {
  color: #f60000;
}

.form-label p {
  font-size: 0.875rem;
  color: #ffffff;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 12px;
  background: #fafafa;
  border: none;
  border-radius: 8px;
  color: #111111;
  font-size: 16px;
}

.form-input::placeholder {
  color: #999999;
}

.toggle-password {
  position: absolute;
  top: 42px;
  right: 12px;
  cursor: pointer;
  color: #111111;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background: #400101;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #fafafa;
  cursor: pointer;
  margin-top: 16px;
}
.submit-button:hover {
  background-color: #200000; /* Slightly darker yellow */
}
.back-to-login {
  margin-top: 16px;

}

.back-to-login p {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
  cursor: pointer;
}


